.production {
    margin-top: 100px;
    

    .title {
        font-family: "MulishSemiBold";
        font-size: 46px;
        margin-bottom: 60px;
        text-align: center;
    }
}

@media only screen and (max-width: 510px) {
    .production {

        .title {
            font-size: 30px;
        }
    }
}