.trust {
    margin-top: 100px;

    .title {
        font-family: "MulishSemiBold";
        font-size: 46px;
        margin-bottom: 60px;
        text-align: center;
    }

    .trustWrapper {
        background: #F4F4F4;
        border-radius: 25px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 20px;
        padding: 44px 38px;

        .trustItem {
            width: 17%;

            img {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 964px) {
    .trust {
    
        .trustWrapper {
    
            .trustItem {
    
                img {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 510px) {
    .trust {

        .title {
            font-size: 30px;
        }
    }
}