.coworking {
    margin-top: 147px;

    .title {
        font-family: "MulishSemiBold";
        font-size: 46px;
        margin: 0 auto;
        text-align: center;
        width: 585px;
    }

    .coworkingWrapper {
        display: flex;
        margin-top: 90px;
    }
}

@media only screen and (max-width: 964px) {
    .coworking {

        .title {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 510px) {
    .coworking {

        .title {
            font-size: 30px;
        }
    }
}