.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    margin-bottom: 50px;

    .nav {
        display: flex;

        .navItem {
            margin-right: 70px;
        }
    }

    .contacts {
        display: flex;
        align-items: center;
        
        .contactsItem {
            margin-right: 40px;
        }
    }
}

@media only screen and (max-width: 964px) {
    .header {
        display: none;
    }
}