.item {
    background: #F4F4F4;
    border-radius: 15px;
    padding: 15px 30px;
    width: 33%;

    .imgWrapper {
        width: 250px;
        height: 170px;
        overflow: hidden;
        border-radius: 15px;

        .img {
            width: 100%;
        }
    }

    .title {
        color: #58BF16;
        font-family: "MulishSemiBold";
        font-size: 20px;
        margin-top: 25px;
        text-align: center;
    }

    .list {
        font-size: 14px;
        margin-top: 14px;
        padding-left: 20px;
    }
}

@media only screen and (max-width: 964px) {
    .item {
        width: 50%;

        .imgWrapper {
            width: 100%;
            height: auto;
        }
    }
}

@media only screen and (max-width: 510px) {
    .item {
        width: 75%;

    }
}