.item {

    .imgWrapper {
        border-radius: 15px;
        height: 205px;
        overflow: hidden;

        .img {
            border-radius: 15px;
            width: 100%;
        }
    }

    .title {
        color: #58BF16;
        font-family: "MulishSemiBold";
        font-size: 20px;
        margin-top: 25px;
        text-align: center;
    }

    .list {
        font-size: 14px;
        margin-top: 14px;
        padding-left: 20px;
    }
}

@media only screen and (max-width: 940px) {
    .item {
        width: 47%;
    }
}

@media only screen and (max-width: 621px) {
    .item {
        width: 80%;

        .imgWrapper {
            height: unset;
        }
    }
}