.item {
    font-size: 25px;
    text-align: center;
    width: 50%;

    .img {
        width: 100px;
    }

    .text {
        margin: 20px auto 0;
        width: 80%;
    }
}

@media only screen and (max-width: 964px) {
    .item {

        .img {
            width: 80px;
        }
    }
}

@media only screen and (max-width: 510px) {
    .item {

        .text {
            font-size: 15px;
        }
    }
}