.banner {
    margin-top: 200px;
    position: relative;

    .feel {
        color: #A49590;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .text {
        font-size: 50px;
        font-family: "MulishBold";
    }

    .topLineWrapper {
        bottom: calc(100% + 30px);
        left: 52px;
        position: absolute;

        .topLine {
            background-color: #58BF16;
            height: 3px;
            width: 582px;
        }

        .topLeftLine {
            background: #58BF16;
            height: 75px;
            width: 3px;
        }
    }

    .bottomLineWrapper {
        bottom: 20px;
        left: 52px;
        position: absolute;

        .bottomLine {
            background: #58BF16;
            height: 3px;
            width: 92px;
        }

        .bottomLeftLine {
            background: #58BF16;
            height: 94px;
            width: 3px;
        }
    }

    .cupWrapper {
        background: linear-gradient(180deg, #9AF3B9 0%, rgba(235, 238, 135, 0.5) 100%);
        border-radius: 50%;
        height: 656px;
        left: 93%;
        position: absolute;
        top: 47%;
        transform: rotate(-45deg);
        transform: translate(-50%, -50%);
        width: 656px;
        z-index: -1;

        .cup {
            left: 6%;
            position: absolute;
            top: 12%;

            img {
                width: 100%;
            }
        }
    }

    .bottomRightWrapper {
        bottom: 20px;
        left: 42%;
        position: absolute;

        .bottomTopRight {
            background: #58BF16;
            height: 3px;
            width: 71px;
        }

        .bottomRight {
            background: #58BF16;
            height: 304px;
            right: 0;
            position: absolute;
            width: 3px;
        }
    }
}

@media only screen and (max-width: 1510px) {
    .banner {
        .cupWrapper {
            width: 500px;
            height: 500px;
            left: 87%;
        }
    }

}

@media only screen and (max-width: 1230px) {
    .banner {
        .cupWrapper {
            width: 400px;
            height: 400px;
            left: 84%;
        }
    }

}

@media only screen and (max-width: 1070px) {
    .banner {
        .cupWrapper {
            width: 400px;
            height: 400px;
            left: 50%;
            top: 120%;
            transform: translate(-50%, 0);
        }

        .bottomRightWrapper {
    
            .bottomRight {
                height: 70px;
            }
        }
    }

}

@media only screen and (max-width: 964px) {
    .banner {
        margin-top: 100px;

        .feel {
            text-align: center;
        }

        .text {
            text-align: center;
        }
        
        .topLineWrapper {
            display: none;
        }

        .bottomLineWrapper {
            display: none;
        }

        .bottomRightWrapper {
            display: none;
        }
    }
}

@media only screen and (max-width: 510px) {
    .banner {
        
        .feel {
            font-size: 15px;
        }

        .text {
            font-size: 30px;
        }

        .cupWrapper {
            width: 300px;
            height: 300px;
        }
    }
}
